/* ++++   RESET CSS  ++++ */
:root {
  --main-font: sans-serif;
  --font-size: 13px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#plantaDev {
  max-width: 100%;
  height: auto;
}

section ul {
  list-style-type: none;
}

.header {
  position: sticky;
  z-index: 998;
  top: 0;
  padding: 0 0 0.5rem 0;
  background-color: var(--main-color);
  color: var(--second-color);
  transition: all 0.7s ease;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}
.header h4 {
  margin: 0 auto;
  text-align: center;
}

/* ++++   menu-hamburguesa  ++++ */

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 75vh;
  text-align: center;
}

.section h2 {
  padding: 2rem 0 0 0;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* Overflow: Para hacer que el contenido, los link del menú que desbordan, se pueda escrolear */
  overflow-y: auto;
  background-color: var(--second-modal-color);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* De arriba */
  transform: translate(0, -100%);
  /* De abajo */
  transform: translate(0, 100%);
  /* De la derecha */
  transform: translate(100%, 0);
  /* De la izquierda */
  transform: translate(-100%, 0);
  /* De la abajo a la derecha */
  transform: translate(100%, 100%);
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}

/*  - * - * ESTILO DEL RELOSS * - * - * */
#reloj {
  font-family: "Electrolize", sans-serif;
  font-size: 50px;
  color: aliceblue;
  background-color: black;
}

/*  - + - +  EVENTOS DEL TECLADO + - + - + -   */

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

/*  - * - * ESTILO DEL Countdown * - * - * */
#seccion3 h2 {
  font-family: "Electrolize", sans-serif;
  font-size: 25px;
  color: aliceblue;
  background-color: black;
  padding: 0.5rem;
}
#countdown {
  font-family: "Electrolize", sans-serif;
}
/* = = = = Scroll top botton = = = = = */
.scroll-top-boton {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}
.scroll-top-boton:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/*    \   \    \  Dark Theme Button  /   /   /     */
.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/* - - - - - Network Status  - - - - - -  */

.online,
.offline {
  position: sticky;
  top: 0;
  left: 50%;
  z-index: 1000;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
  transition: all 0.5s ease;
}

.offline {
  background-color: #b71c1c;
}

/* Agregado para que el header se ponga gris en offline */
.header.classOffline {
  background-color: #888;
}

/* - - - - - Geolocalización  - - - - - -  */

#myMap {
  height: 50vh;
}

/* - - - - - Search Filters  - - - - - -  */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.5s ease-out;
  margin: 1.5rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: var(--second-color);
}

.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1; /* Con order llevamos al final las tarjetas ocultas, ya que las primeras son las que tienen order cero. */
}

/* - - - - - Responsive Slider  - - - - - -  */
.slider {
  position: relative;
  /* border: thin solid blue; */
  width: 100%;
  margin: 0.5rem;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

/* - - - - -   Scroll Spy    - - - - - -  */
/* Creamos una media query, para diferenciar por ancho el menú que va a mostrar. 
En este caso los siguientes estilos se utilizarán cuando el ancho supere 1024 pixel */

@media screen and (min-width: 1024px) {
  body {
    /* Establecemos con gridCSS dos columnas y dos filas */
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 5.5rem auto;
    grid-template-areas:
      "header header"
      "main panel";
  }
  main {
    grid-area: main;
  }
  .header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    align-self: start;
    position: sticky;
    top: 5.5rem;
    justify-content: flex-start;
    background-color: var(--second-color);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    z-index: 997;
    padding: 0 0 10 0rem;
  }
  .panel-btn {
    display: none;
  }
  .menu {
    justify-content: start;
    text-align: right;
  }
  .menu a {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
  .menu a:hover,
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }
  .scroll-top-boton {
    right: initial;
    left: calc(4.25rem + 1vw);
  }
}
